# global
**/__pycached__ 
**/_ignore
**/output/
dist/
*.egg-info/
**/tmp
**/work_dirs
**.pth

# **/data/
**/__MACOSX/
**/AIGVE_Bench/
**/kinetics/
**/konvid_1k/
**/AIGVE_Bench.zip
**/KoNViD-1kinfo-original.mat
**/*_results*.json
**/SimpleVQA
**/Light_VQA_plus

**/kinetics_dataset.py
**/konvid_1k_dataset.py
**/gstvqa_crossdata_dataset.py
**/gstvqa_crossdata.py
**/modular_bvqa
**/modular_bvqa.py
**/starvqa_plus
**/starvqa_plus.py
**/llm_score.py
**/llm_score

**/.cache/
site/
t2v_result

venv
**/__pycache__/
**/VGG16_cat_features_KoNViD_original_resolution*/*

# Files (.mov, .mp4)

**.mov
.mov
**.mp4
.mp4
*.mov
*.mp4
