# global
**/__pycached__ 
**/_ignore
**/output/
**/tmp
**/work_dirs

# **/data/
**/__MACOSX/
**/AIGVE_Bench/
**/kinetics/
**/konvid_1k/
**/AIGVE_Bench.zip
**/KoNViD-1kinfo-original.mat
**/*_results*.json
**/SimpleVQA

**/.cache/
site/
t2v_result

venv
**/__pycache__/
**/VGG16_cat_features_KoNViD_original_resolution*/*
