[submodule "metrics/video_quality_assessment/nn_based/gstvqa/GSTVQA"]
	path = metrics/video_quality_assessment/nn_based/gstvqa/GSTVQA
	url = https://github.com/Baoliang93/GSTVQA.git
[submodule "metrics/video_quality_assessment/nn_based/starvqa_plus/StarVQA_PLUS"]
	path = metrics/video_quality_assessment/nn_based/starvqa_plus/StarVQA_PLUS
	url = https://github.com/GZHU-DVL/CoSTA.git
[submodule "data/kinetics"]
	path = data/kinetics
	url = https://github.com/cvdfoundation/kinetics-dataset.git
[submodule "/home/xinhao/VQA_Toolkit/metrics/video_quality_assessment/nn_based/modular_bvqa/ModularBVQA"]
	path = /home/xinhao/VQA_Toolkit/metrics/video_quality_assessment/nn_based/modular_bvqa/ModularBVQA
	url = https://github.com/winwinwenwen77/ModularBVQA.git
